/* Base styles for light mode */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: black;
    color: white;
}

button {
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
}

